*,
*:before,
*:after {
    box-sizing: border-box;
}

html {
    color: rgba(0,0,0, .7);
    font-family: 'Arial Narrow Bold', sans-serif;
    font-size: 14px;
    line-height: 1.5;
    font-weight: 300;
}

body {
    width: 75%;
    margin: 0 auto;
    padding: 40px 10px;
}

h1,
h2,
h3 {
    margin-bottom: 0;
}

h1 {
    font-size: 1.5rem;
}

h2 {
    font-size: 1.2rem;
}

h3 {
    font-size: 1rem;
}

a {
    text-decoration: none;
}

a:hover,
a:active,
a:visited {
    color: initial;
}

ul.no-style {
    list-style-type: none;
    margin-bottom: 0;
    padding-left: 0;
}

ul.no-style > li {
    list-style-type: none;
}

input[type=text] {
    width: 100%;
    padding: 10px;
    font-size: 1.5rem;
    border: none;
    border-bottom: 1px solid yellowgreen;
    outline: none;
}

input[type=text]:focus {
    box-shadow: 0 4px 3px -4px green;
}


.muted {
    opacity: .7;
}

.centered {
    text-align: center;
}

.sub {
    font-size: .7em;
}

.left {
    float: left;
}

.right {
    float: right;
}

.clear:after {
    content: "";
    display: table;
    clear: both;
}

.fade-in {
    opacity: 1;
}
